

.container {
    width: 16px;
    height: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: transparent;
    align-items: center;
    justify-content: center
}
 .halfCircle {
    background-color: gray;
    width: 16px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 7.9px;
    border-bottom-right-radius: 7.9px;
}
.innerCircleBackground {
    width: 15.4px;
    height: 15.4px;
    border-radius: 7.7px;
    background-color:green;
    z-index:  2;
    align-items: center;
    justify-content: center
}
.contentCircle {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color:white;
    border-width: 5px;
    border-color: blue;
    align-items: center;
    justify-content: center
}