
.homeBanner {
background-image: url(../../../assets/home-banner.png);
background-repeat: no-repeat;
background-size: 100% 100%;
}


.arrowUp {
    content: url(../../../assets/arrow-up.png);
    vertical-align: middle; 
    margin-left: 5px;
    }

    
.arrowDown {
    content: url(../../../assets/arrow-down.png);
    vertical-align: middle; 
    margin-left: 5px;
    }