
.listItem1{
    width: auto;
    min-width: 300px;
    margin-left: 9px;
    margin-right: 9px;
    /* width: 100%; */
    position: relative;
    height: 110px;
    background-color: white;
    font-family: 'IRANSansFN';
    font-size: 10px;
    margin-top: 10px;
    color:black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    direction: rtl;
}

.img{
    /* content: url(../../../assets/interactive/interactive.png); */
    height: 80px;
    width: 100px;
    margin-top: 15px;
}

.headDiv{
    /* text-align: center; */
    width: auto;
    min-width: 220px;
    height: 25px;
   /* width: 220px; */
    overflow: auto;
}

.headDiv1{
    /* text-align: center; */
    width: 100%;
    min-width: 220px;
    height: 25px;
   /* width: 220px; */
    overflow: auto;
}

.eyeIcon {
    content: url(../../../assets/eyes/eyes.png);
    vertical-align: middle; 
    margin-left: 1px;
    width: 20px;
    height: 20px;
}

.basketIcon {
    content: url(../../../assets/basket/basket@2x.png);
    vertical-align: middle; 
    margin-left: 1px;
    width: 20px;
    height: 20px;
}

.myProgress {
    width: 100%;
    background-color: #b9d5ea;
    border-radius: 20px;
    margin-bottom: 35px;
  }
  
  .myBar {
      border-radius: 20px; 
    height: 15px;
  }

.line{
    -webkit-text-decoration-line: line-through; /* Safari */
     text-decoration-line: line-through; 
     text-decoration-color: red;
     color:green
  }

