					
.center {
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .centerSpan {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #39c2fd;
    padding: 10px;
    color: white;
    font-family: 'IRANSans';
  }
                
  .moreChance{
    content: url(../../../assets/refresh/refresh.png);
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }
  
  .mycourseImg {
    content: url(../../../assets/mycourses/banner.png);
    vertical-align: middle; 
    margin-left: 1px;
}