.home{
    content: url(../../../assets/icon/home.svg);
}

.message{
    content: url(../../../assets/icon/message.svg);
}

.courses{
    content: url(../../../assets/icon/courses.svg);
    top: -15px;
}


.profile{
    content: url(../../../assets/icon/profileUser.svg);
}

.wallet{
    content: url(../../../assets/icon/wallet.svg);
}

.bottom{
    content: url(../../../assets/bottom.svg);
    background-color: transparent;
}

.font{
    font-family: 'IRANSans';
    color: white;
    font-size: small;
}