.MoreLeatestLessonComponent{
    background-color: #E4E4EA;
    /* width: 100%; */
}


.listItem1{
    width: auto;
    min-width: 300px;
    margin-left: 9px;
    margin-right: 9px;
    /* width: 100%; */
    position: relative;
    height: 100px;
    background-color: white;
    font-family: 'IRANSansFN';
    font-size: 10px;
    margin-top: 10px;
    color:black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    direction: rtl;
}

.img{
    /* content: url(../../../assets/interactive/interactive.png); */
    height: 100px;
    width: 100px;
}

.headDiv{
    /* text-align: center; */
   width: 220px;
    overflow: auto;
}

.timeIcon {
    content: url(../../../assets/time.png);
    vertical-align: middle; 
    margin-left: 1px;
 }

.levelIcon {
    content: url(../../../assets/level.png);
    vertical-align: middle; 
    margin-left: 1px;
}

.line{
    -webkit-text-decoration-line: line-through; /* Safari */
     text-decoration-line: line-through; 
     text-decoration-color: red;
     color:green
  }

  					
.center {
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
                  