.messageEmpty {
    content: url(../../../assets/message/messageEmpty.png);
    vertical-align: middle; 
    margin-left: 1px;
}

  .center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .centerSpan {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }