.div>img
{
width:300px;
height: auto;
margin-top: 20px;
margin-bottom: 20px;
}

.div>p
{
padding: 15px;
text-align: center;
}

					
.center {
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
                  
.retryImg{
  content: url(../../../assets/refresh/refresh_black.png);
  position: fixed; /* or absolute */
  width: 40px;
  height: 40px;
  top: 60%;
  left: 45%;
}
